/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** COLORS **/
/** SIZE **/
/** FONTS **/
@font-face {
  font-family: "OpenBold";
  src: url('/fonts/../fonts/OpenSans-Bold.eot?1486040860');
  src: url('/fonts/../fonts/OpenSans-Bold.eot?&1486040860#iefix') format('embedded-opentype'), url('/fonts/../fonts/OpenSans-Bold.ttf?1486022694') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open-Regular";
  src: url('/fonts/../fonts/OpenSans-Regular.eot?1486040860');
  src: url('/fonts/../fonts/OpenSans-Regular.eot?&1486040860#iefix') format('embedded-opentype'), url('/fonts/../fonts/OpenSans-Regular.ttf?1486022694') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open-Semibold";
  src: url('/fonts/../fonts/OpenSans-Semibold.eot?1489749210');
  src: url('/fonts/../fonts/OpenSans-Semibold.eot?&1489749210#iefix') format('embedded-opentype'), url('/fonts/../fonts/OpenSans-Semibold.ttf?1489749210') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open-light";
  src: url('/fonts/../fonts/OpenSans-Light.eot?1490199576');
  src: url('/fonts/../fonts/OpenSans-Light.eot?&1490199576#iefix') format('embedded-opentype'), url('/fonts/../fonts/OpenSans-Light.ttf?1486022694') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/** TRANSITION **/
/* line 1, ../scss/components/_buttons.scss */
#btn-L, #btn-M {
  height: 35px;
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  font-family: "OpenBold";
  font-size: 12px;
  transition: all ease 1s;
}
/* line 11, ../scss/components/_buttons.scss */
#btn-L:hover, #btn-M:hover {
  background-color: white;
  color: #00aced;
  transition: all ease 1s;
  cursor: pointer;
}

/* line 17, ../scss/components/_buttons.scss */
#btn-M {
  width: 110px;
  margin-top: 15px;
}
/* line 22, ../scss/components/_buttons.scss */
#btn-M + #btn-M {
  float: right;
}
/* line 25, ../scss/components/_buttons.scss */
#btn-M + #btn-M {
  background-color: white;
  color: #00aced;
  transition: all ease 1s;
}

/* line 31, ../scss/components/_buttons.scss */
select {
  box-sizing: border-box;
  font-family: "OpenBold";
  color: white;
  margin-top: 15px;
  background: transparent;
  border: none;
  width: 109px;
  padding: 0 0  0 15px;
  height: 38px;
  border: 1px solid white;
  margin-right: 15px;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  background: url(/img/arrow.png) no-repeat 90%;
}
/* line 47, ../scss/components/_buttons.scss */
select.clickedselect {
  background-color: #fff;
  color: #00aced;
  background-image: url(/img/arrow-blue.png);
}

/* line 18, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch {
  position: absolute;
  margin: 22px 0 0 16px;
}
/* line 22, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch + label {
  position: relative;
  padding: 5px 0 0 40px;
  line-height: 2.0em;
  margin-right: 10px;
}
/* line 29, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch + label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  height: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #00aced;
  border: 1px solid white;
}
/* line 34, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch + label:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  height: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid white;
}
/* line 40, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch + label:hover:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 45, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch:checked + label:after {
  margin-left: 15px;
}
/* line 48, ../scss/components/_iosradio.scss */
input[type="checkbox"].ios8-switch:checked + label:before {
  background: #40c1f2;
}

/* line 54, ../scss/components/_iosradio.scss */
label + input[type="checkbox"] + label {
  right: -5%;
}

/* line 1, ../scss/components/_numbers.scss */
#numbers {
  float: right;
  width: 108px;
  height: 38px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 9, ../scss/components/_numbers.scss */
#numbers .number {
  border: 1px solid white;
  width: 26px;
  height: 26px;
  -moz-border-radius: 26px / 26px;
  -webkit-border-radius: 26px 26px;
  border-radius: 26px / 26px;
  float: left;
}
/* line 16, ../scss/components/_numbers.scss */
#numbers .number p {
  text-align: center;
  line-height: 25px;
  font-family: "OpenBold";
  font-size: 12px;
  color: #fff;
}
/* line 23, ../scss/components/_numbers.scss */
#numbers .number:last-child {
  width: 34px;
}

/* line 1, ../scss/components/_townlist.scss */
#townslist {
  width: 185px;
  float: left;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 7, ../scss/components/_townlist.scss */
#townslist ul {
  height: 100%;
  width: 100%;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  border: 1px solid white;
  background-color: #26b8f0;
}
/* line 13, ../scss/components/_townlist.scss */
#townslist ul li {
  height: 25%;
  line-height: 37.5px;
  padding-left: 15px;
  color: #fff;
  font-family: "OpenBold";
  font-size: 12px;
  transition: all ease 1s;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 24, ../scss/components/_townlist.scss */
#townslist ul li:last-child {
  border-bottom: none;
}
/* line 27, ../scss/components/_townlist.scss */
#townslist ul li:hover, #townslist ul li:nth-child(2) {
  background-color: #5ccaf4;
}

/* line 1, ../scss/components/_inputradios.scss */
#inputradios {
  width: 25px;
  height: 150px;
  float: right;
  margin-top: 15px;
}
/* line 6, ../scss/components/_inputradios.scss */
#inputradios label {
  display: block;
  height: 43px;
}
/* line 10, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"], #inputradios [type="radio"] {
  display: none;
}
/* line 13, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:not(:checked),
#inputradios [type="checkbox"]:checked, #inputradios [type="radio"]:not(:checked),
#inputradios [type="radio"]:checked {
  display: none;
}
/* line 18, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:not(:checked) + label,
#inputradios [type="checkbox"]:checked + label, #inputradios [type="radio"]:not(:checked) + label,
#inputradios [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* line 25, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:not(:checked) + label:before,
#inputradios [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 3px;
}
/* line 35, ../scss/components/_inputradios.scss */
#inputradios [type="radio"]:checked + label:before, #inputradios [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 12px;
}
/* line 46, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:checked + label:before, #inputradios [type="radio"]:checked + label:before {
  background-color: #40c1f2;
}
/* line 50, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:not(:checked) + label:after,
#inputradios [type="checkbox"]:checked + label:after {
  height: 24px;
  width: 24px;
  content: '';
  background: url(/img/checkmark.png) no-repeat;
  position: absolute;
  top: 5px;
  left: 7px;
  transition: all .2s;
}
/* line 60, ../scss/components/_inputradios.scss */
#inputradios [type="radio"]:not(:checked) + label:after,
#inputradios [type="radio"]:checked + label:after {
  height: 10px;
  width: 10px;
  content: '';
  background-color: white;
  position: absolute;
  border-radius: 5px;
  top: 7px;
  left: 7px;
  transition: all .2s;
}
/* line 71, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:not(:checked) + label:after, #inputradios [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 75, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:checked + label:after, #inputradios [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 79, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:disabled:not(:checked) + label:before,
#inputradios [type="checkbox"]:disabled:checked + label:before, #inputradios [type="radio"]:disabled:not(:checked) + label:before,
#inputradios [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
}
/* line 84, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:disabled:checked + label:after, #inputradios [type="radio"]:disabled:checked + label:after {
  color: #999;
}
/* line 87, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:disabled + label, #inputradios [type="radio"]:disabled + label {
  color: red;
}
/* line 90, ../scss/components/_inputradios.scss */
#inputradios [type="checkbox"]:checked:focus + label:before,
#inputradios [type="checkbox"]:not(:checked):focus + label:before, #inputradios [type="radio"]:checked:focus + label:before,
#inputradios [type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted #0776a0;
}

/* line 1, ../scss/components/_icons.scss */
#icons {
  clear: both;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 7, ../scss/components/_icons.scss */
#icons #randomicons {
  height: 100%;
  width: 110px;
  float: left;
}
/* line 11, ../scss/components/_icons.scss */
#icons #randomicons div {
  height: 21px;
  width: 21px;
  float: left;
  margin-right: 8px;
  margin-bottom: 7px;
}
/* line 17, ../scss/components/_icons.scss */
#icons #randomicons div:nth-child(4), #icons #randomicons div:nth-child(8) {
  margin-right: 0;
}
/* line 22, ../scss/components/_icons.scss */
#icons #ratingsystem {
  width: 110px;
  height: 50px;
  float: right;
}
/* line 26, ../scss/components/_icons.scss */
#icons #ratingsystem .heart, #icons #ratingsystem .star {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 2px;
}
/* line 31, ../scss/components/_icons.scss */
#icons #ratingsystem .heart:nth-child(5), #icons #ratingsystem .heart:nth-child(10), #icons #ratingsystem .star:nth-child(5), #icons #ratingsystem .star:nth-child(10) {
  margin-right: 0;
}
/* line 35, ../scss/components/_icons.scss */
#icons #ratingsystem .heart {
  background: url(/img/icons/heart-full.png) no-repeat center;
}
/* line 37, ../scss/components/_icons.scss */
#icons #ratingsystem .heart:nth-child(9), #icons #ratingsystem .heart:last-child {
  background: url(/img/icons/heart-empty.png) no-repeat center;
  transition: all ease 1s;
}
/* line 41, ../scss/components/_icons.scss */
#icons #ratingsystem .heart:nth-child(9):hover, #icons #ratingsystem .heart:last-child:hover {
  background: url(/img/icons/heart-full.png) no-repeat center;
  transition: all ease 1s;
}
/* line 48, ../scss/components/_icons.scss */
#icons #ratingsystem .star {
  background: url(/img/icons/star-full.png) no-repeat center;
  margin-bottom: 8px;
}
/* line 51, ../scss/components/_icons.scss */
#icons #ratingsystem .star:nth-child(4), #icons #ratingsystem .star:nth-child(5) {
  background: url(/img/icons/star-empty.png) no-repeat center;
  transition: all ease 1s;
}
/* line 55, ../scss/components/_icons.scss */
#icons #ratingsystem .star:nth-child(4):hover, #icons #ratingsystem .star:nth-child(5):hover {
  background: url(/img/icons/star-full.png) no-repeat center;
  transition: all ease 1s;
}

/* line 1, ../scss/components/_messages.scss */
#messages {
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
}
/* line 5, ../scss/components/_messages.scss */
#messages #hello {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
}
/* line 9, ../scss/components/_messages.scss */
#messages #hello .hellothere {
  width: 110px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  font-family: OpenBold;
  font-size: 12px;
  color: white;
  float: left;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 22, ../scss/components/_messages.scss */
#messages #hello .hellothere:first-child {
  margin-right: 12px;
}
/* line 27, ../scss/components/_messages.scss */
#messages #error {
  height: 40px;
  width: 100%;
  position: relative;
}
/* line 31, ../scss/components/_messages.scss */
#messages #error p {
  height: 40px;
  width: 95%;
  line-height: 40px;
  color: #00aced;
  background-color: white;
  padding-left: 5%;
  font-family: OpenBold;
  font-size: 13px;
}
/* line 41, ../scss/components/_messages.scss */
#messages #error img {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}

/* line 1, ../scss/components/_login.scss */
#login {
  margin-bottom: 20px;
}
/* line 3, ../scss/components/_login.scss */
#login input {
  border: none;
  width: 100%;
  padding-left: 5%;
  height: 35px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
}
/* line 12, ../scss/components/_login.scss */
#login input:first-child {
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 17, ../scss/components/_login.scss */
#login input:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 21, ../scss/components/_login.scss */
#login input::placeholder, #login input::-webkit-input-placeholder, #login input::-moz-placeholder, #login input:-ms-input-placeholder, #login input:-moz-placeholder {
  color: white;
  opacity: 0.5;
  font-family: Open-Semibold;
  font-size: 13px;
}

/* line 1, ../scss/components/_avatars.scss */
#avatars {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 35px;
}
/* line 7, ../scss/components/_avatars.scss */
#avatars .avatar {
  height: 74px;
  width: 74px;
  background: url(/img/avatar.png) center no-repeat;
  background-size: contain;
}
/* line 12, ../scss/components/_avatars.scss */
#avatars .avatar:nth-child(2) {
  height: 56px;
  width: 56px;
}
/* line 16, ../scss/components/_avatars.scss */
#avatars .avatar:nth-child(3) {
  height: 37px;
  width: 37px;
}
/* line 20, ../scss/components/_avatars.scss */
#avatars .avatar:last-child {
  height: 30px;
  width: 30px;
}

/* line 1, ../scss/components/_upload.scss */
#upload {
  height: 212px;
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed white;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 11, ../scss/components/_upload.scss */
#upload #uploadicon {
  width: 45px;
  height: 34px;
  background: url(/img/upload.png) center;
  margin-bottom: 15px;
}
/* line 16, ../scss/components/_upload.scss */
#upload #uploadicon + p {
  font-family: OpenBold;
  color: white;
  font-size: 12px;
}

/* line 1, ../scss/components/_levels.scss */
#levels {
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
}
/* line 8, ../scss/components/_levels.scss */
#levels .level {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 12, ../scss/components/_levels.scss */
#levels .level .levelfill {
  width: 100%;
  height: 2px;
  background-color: white;
}
/* line 18, ../scss/components/_levels.scss */
#levels .level:first-child > .levelfill {
  width: 25%;
}
/* line 21, ../scss/components/_levels.scss */
#levels .level:nth-child(2) > .levelfill {
  width: 50%;
}
/* line 24, ../scss/components/_levels.scss */
#levels .level:nth-child(3) > .levelfill {
  width: 75%;
}
/* line 27, ../scss/components/_levels.scss */
#levels .level:nth-child(4) > .levelfill {
  width: 90%;
}
/* line 30, ../scss/components/_levels.scss */
#levels .level:last-child {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
}
/* line 34, ../scss/components/_levels.scss */
#levels .level:last-child .levelfill {
  width: 24%;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 37, ../scss/components/_levels.scss */
#levels .level:last-child .levelfill:first-child {
  background-color: white;
}

/* line 1, ../scss/components/_social.scss */
#social {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* line 7, ../scss/components/_social.scss */
#social div {
  width: 46px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
/* line 14, ../scss/components/_social.scss */
#social div:first-child {
  background: url(/img/social/behance.png) no-repeat;
  background-position: center;
  transition: all ease 1s;
}
/* line 18, ../scss/components/_social.scss */
#social div:first-child:hover {
  background: url(/img/social/behance-hover.png) no-repeat;
  background-position: center;
  background-color: white;
  transition: all ease 1s;
}
/* line 25, ../scss/components/_social.scss */
#social div:nth-child(2) {
  background: url(/img/social/twitter.png) no-repeat;
  background-position: center;
  background-color: white;
}
/* line 29, ../scss/components/_social.scss */
#social div:nth-child(2):hover {
  background: url(/img/social/twitter-hover.png) no-repeat;
  background-position: center;
  background-color: #00aced;
  transition: all ease 1s;
}
/* line 36, ../scss/components/_social.scss */
#social div:nth-child(3) {
  background: url(/img/social/facebook.png) no-repeat;
  background-position: center;
}
/* line 39, ../scss/components/_social.scss */
#social div:nth-child(3):hover {
  background: url(/img/social/facebook-hover.png) no-repeat;
  background-position: center;
  background-color: white;
  transition: all ease 1s;
}
/* line 46, ../scss/components/_social.scss */
#social div:last-child {
  background: url(/img/social/tumblr.png) no-repeat;
  background-position: center;
}
/* line 49, ../scss/components/_social.scss */
#social div:last-child:hover {
  background: url(/img/social/tumblr-hover.png) no-repeat;
  background-position: center;
  background-color: white;
  transition: all ease 1s;
}

/* line 1, ../scss/components/_calendar.scss */
#calendar {
  height: 295px;
  margin-bottom: 20px;
}
/* line 4, ../scss/components/_calendar.scss */
#calendar input {
  height: 35px;
  box-sizing: border-box;
  width: 105px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-family: OpenSans-Bold;
  padding-left: 10px;
  position: relative;
  display: block;
  float: left;
}
/* line 18, ../scss/components/_calendar.scss */
#calendar input + input {
  float: right;
}
/* line 21, ../scss/components/_calendar.scss */
#calendar input + input, #calendar input:first-child:focus {
  background-color: white;
  color: #00aced;
}
/* line 26, ../scss/components/_calendar.scss */
#calendar input + input:after, #calendar input:first-child:focus:after {
  height: 40px;
  width: 20px;
  content: '';
  background-color: white;
  position: absolute;
  border-radius: 5px;
  top: 0px;
  right: 12px;
  transition: all .2s;
  background: url(/img/arrow-blue.png) no-repeat;
  background-position: 10px 13px;
}

/* line 1, ../scss/components/_ariane.scss */
#ariane {
  margin-bottom: 15px;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 8, ../scss/components/_ariane.scss */
#ariane a {
  font-family: OpenBold;
  display: block;
  color: white;
  font-size: 12px;
  position: relative;
  width: 28%;
  text-decoration: underline;
  cursor: pointer;
}
/* line 17, ../scss/components/_ariane.scss */
#ariane a:first-child:after, #ariane a:nth-child(2):after {
  content: "";
  position: absolute;
  display: block;
  left: 95%;
  top: 0;
  width: 10px;
  height: 15px;
  background: url(/img/next.png);
}
/* line 27, ../scss/components/_ariane.scss */
#ariane a:last-child {
  text-decoration: none;
}

/* line 1, ../scss/components/_stats.scss */
#stats {
  height: 35px;
  width: 90px;
  margin-bottom: 20px;
  float: left;
}
/* line 6, ../scss/components/_stats.scss */
#stats div {
  width: 30%;
  padding-left: 20%;
  height: 50%;
  float: left;
  font-family: OpenBold;
  color: white;
  font-size: 11.5px;
}
/* line 14, ../scss/components/_stats.scss */
#stats div p {
  text-align: center;
  position: relative;
  line-height: 17.5px;
}
/* line 19, ../scss/components/_stats.scss */
#stats div p:before {
  content: "";
  position: absolute;
  display: block;
  left: -15px;
  top: 0;
  width: 15px;
  height: 17.5px;
}
/* line 28, ../scss/components/_stats.scss */
#stats div:first-child > p:before {
  background: url(/img/com/comment.png) no-repeat;
  background-position: center;
}
/* line 32, ../scss/components/_stats.scss */
#stats div:nth-child(2) > p:before {
  background: url(/img/com/heart.png) no-repeat;
  background-position: center;
}
/* line 36, ../scss/components/_stats.scss */
#stats div:nth-child(3) > p:before {
  background: url(/img/com/star.png) no-repeat;
  background-position: center;
}
/* line 40, ../scss/components/_stats.scss */
#stats div:last-child > p:before {
  background: url(/img/com/infor.png) no-repeat;
  background-position: center;
}

/* line 1, ../scss/components/_time.scss */
#time {
  width: 125px;
  height: 40px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 8, ../scss/components/_time.scss */
#time p {
  height: 38px;
  width: 38px;
  box-sizing: border-box;
  border: 1px solid white;
  text-align: center;
  line-height: 38px;
  color: white;
  font-family: OpenBold;
  border-radius: 5px;
  position: relative;
}
/* line 19, ../scss/components/_time.scss */
#time p:first-child:after, #time p:nth-child(2):after {
  content: ":";
  position: absolute;
  display: block;
  left: 98%;
  top: 0;
  width: 10px;
  height: 15px;
  font-family: Open-SemiBold;
}
/* line 30, ../scss/components/_time.scss */
#time p:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 38px;
  height: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: Open-SemiBold;
}

/* line 1, ../scss/components/_slider.scss */
#slider {
  clear: both;
  height: 190px;
  width: 100%;
}

/* line 1, ../scss/components/_graph.scss */
#graph {
  height: 72px;
  width: 100%;
}

/* line 1, ../scss/components/_audio.scss */
#audio {
  height: 100px;
}
/* line 3, ../scss/components/_audio.scss */
#audio #waveform {
  height: 65px;
  overflow: hidden;
}
/* line 7, ../scss/components/_audio.scss */
#audio #timewave {
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  font-family: Open-semibold;
  color: white;
  font-size: 11.5px;
}

/* line 1, ../scss/components/_input.scss */
#input {
  margin-bottom: 15px;
  height: 250px;
}
/* line 4, ../scss/components/_input.scss */
#input input,
#input textarea {
  text-decoration: none;
  border: none;
  padding: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-family: Open-Regular;
  font-size: 13px;
}
/* line 18, ../scss/components/_input.scss */
#input input {
  height: 40px;
  padding-left: 5%;
  color: white;
}
/* line 22, ../scss/components/_input.scss */
#input input::placeholder {
  color: white;
}
/* line 25, ../scss/components/_input.scss */
#input input:first-child::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* line 28, ../scss/components/_input.scss */
#input input + input {
  position: relative;
}
/* line 32, ../scss/components/_input.scss */
#input textarea {
  height: 140px;
  padding: 0 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none;
  color: white;
}

/* line 1, ../scss/components/_towns.scss */
#towns {
  margin-bottom: 15px;
}
/* line 3, ../scss/components/_towns.scss */
#towns .town {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  font-family: Open-semibold;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
/* line 12, ../scss/components/_towns.scss */
#towns .town:last-child {
  border-bottom: none;
}
/* line 15, ../scss/components/_towns.scss */
#towns .town:hover, #towns .town:nth-child(5) {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 18, ../scss/components/_towns.scss */
#towns .town p {
  margin-left: 10px;
  height: 35px;
  line-height: 35px;
  float: left;
}
/* line 24, ../scss/components/_towns.scss */
#towns .town:nth-child(3) > p {
  float: left;
}
/* line 27, ../scss/components/_towns.scss */
#towns .town .deletetown {
  height: 35px;
  width: 60px;
  float: right;
  background-color: white;
  color: #00aced;
}
/* line 33, ../scss/components/_towns.scss */
#towns .town .deletetown p {
  float: right;
  text-align: center;
  width: 60px;
  font-family: Open-regular;
  font-size: 11px;
}
/* line 42, ../scss/components/_towns.scss */
#towns .town p + div {
  height: 35px;
  width: 35px;
  float: right;
  cursor: pointer;
}
/* line 48, ../scss/components/_towns.scss */
#towns .town .towncheck {
  background: url(/img/town-icons/town-check.png) no-repeat;
  background-position: center;
}
/* line 52, ../scss/components/_towns.scss */
#towns .town .nextsteptown {
  background: url(/img/town-icons/town-next.png) no-repeat;
  background-position: center;
}
/* line 56, ../scss/components/_towns.scss */
#towns .town .townnope {
  background: url(/img/town-icons/town-cross.png) no-repeat;
  background-position: center;
}
/* line 60, ../scss/components/_towns.scss */
#towns .town .towninfo {
  background: url(/img/town-icons/town-info.png) no-repeat;
  background-position: center;
}
/* line 64, ../scss/components/_towns.scss */
#towns .town .wattown {
  background: url(/img/town-icons/town-nope.png) no-repeat;
  background-position: center;
}

/* line 1, ../scss/components/_playerbtn.scss */
#playerbtns {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
}
/* line 5, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 11, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns .btn {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}
/* line 20, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #playbtn {
  background: url(/img/playerbtn/play-btn.png) no-repeat center;
}
/* line 24, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #pausebtn {
  background: url(/img/playerbtn/pause-btn.png) no-repeat center;
}
/* line 27, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #removebtn {
  background: url(/img/playerbtn/remove-btn.png) no-repeat center;
}
/* line 30, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #infobtn {
  background: url(/img/playerbtn/info-btn.png) no-repeat center;
}
/* line 33, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #loopbtn {
  background: url(/img/playerbtn/loop-btn.png) no-repeat center;
}
/* line 36, ../scss/components/_playerbtn.scss */
#playerbtns #audiobtns #playbtn:hover, #playerbtns #audiobtns #pausebtn:hover, #playerbtns #audiobtns #removebtn:hover, #playerbtns #audiobtns #infobtn:hover, #playerbtns #audiobtns #loopbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 1, ../scss/components/_weather.scss */
#weather {
  width: 100%;
  color: white;
  font-size: 13px;
  margin-bottom: 20px;
}
/* line 6, ../scss/components/_weather.scss */
#weather p:first-child {
  font-family: Open-Semibold;
  margin-bottom: 8px;
}
/* line 9, ../scss/components/_weather.scss */
#weather p:first-child + p {
  font-family: Open-light;
  margin-bottom: 15px;
}
/* line 14, ../scss/components/_weather.scss */
#weather #weatherforecast {
  width: 100%;
  height: 70px;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid white;
}
/* line 21, ../scss/components/_weather.scss */
#weather #weatherforecast .weatherday {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid white;
}
/* line 26, ../scss/components/_weather.scss */
#weather #weatherforecast .weatherday .weathericon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-top: 15px;
  background: url(/img/weather_cloud.png) center no-repeat;
}
/* line 33, ../scss/components/_weather.scss */
#weather #weatherforecast .weatherday:nth-child(3) > .weathericon {
  background: url(/img/weather_storm.png) center no-repeat;
}
/* line 36, ../scss/components/_weather.scss */
#weather #weatherforecast .weatherday p {
  font-family: Openbold;
  margin-top: 5px;
}

/* line 1, ../scss/components/_tags.scss */
#tags {
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* line 8, ../scss/components/_tags.scss */
#tags p {
  float: left;
  display: block;
  font-family: Open-semibold;
  color: white;
  font-size: 13px;
  padding: 5px;
  margin: 7px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 20px;
  position: relative;
  transition: all ease 1s;
}
/* line 23, ../scss/components/_tags.scss */
#tags p:hover, #tags p:last-child {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 27, ../scss/components/_tags.scss */
#tags p:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background: url(/img/tag-cross.png) no-repeat;
  background-position: center;
}

/* line 1, ../scss/components/_circlestats.scss */
#circlestats {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 8, ../scss/components/_circlestats.scss */
#circlestats #container00, #circlestats #container01, #circlestats #container02 {
  width: 70px;
  height: 70px;
  position: relative;
  font-family: Openbold;
  font-size: 18px;
}

/* line 1, ../scss/components/_rangelevels.scss */
#rangelevels {
  height: 90px;
  width: 100%;
  /* Special styling for WebKit/Blink */
  /* All the same stuff for Firefox */
}
/* line 4, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
/* line 12, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* line 15, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
/* line 19, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 27, ../scss/components/_rangelevels.scss */
#rangelevels input:first-child {
  width: 100%;
}
/* line 31, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: none;
  /* Add cool effects to your sliders! */
}
/* line 45, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-moz-range-thumb,
#rangelevels input[type=range]::-ms-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
/* line 58, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 1.3px;
  border: none;
}
/* line 68, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.5);
}
/* line 72, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 1.3px;
  border: none;
}
/* line 82, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
/* line 91, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* line 97, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
/* line 100, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* line 106, ../scss/components/_rangelevels.scss */
#rangelevels input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* line 1, ../scss/components/_tabs.scss */
#tabs {
  height: 75px;
  width: 100%;
  margin-bottom: 15px;
}
/* line 5, ../scss/components/_tabs.scss */
#tabs #tabmenu {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 15px;
}
/* line 11, ../scss/components/_tabs.scss */
#tabs #tabmenu .tab {
  float: left;
  width: 33.3%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-family: OpenBold;
  font-size: 13px;
}
/* line 21, ../scss/components/_tabs.scss */
#tabs #tabmenu .tab:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
}
/* line 28, ../scss/components/_tabs.scss */
#tabs #tabmenu .tab:hover, #tabs #tabmenu .clicked-tab {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 33, ../scss/components/_tabs.scss */
#tabs #tabmenu2 {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 38, ../scss/components/_tabs.scss */
#tabs #tabmenu2 .simpletab {
  width: 24%;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: all ease 1s;
}
/* line 46, ../scss/components/_tabs.scss */
#tabs #tabmenu2 .simpletab p {
  color: white;
  font-family: OpenBold;
  font-size: 13px;
}
/* line 52, ../scss/components/_tabs.scss */
#tabs #tabmenu2 .selectedsimpletab, #tabs #tabmenu2 .simpletab:hover {
  opacity: 1;
  transition: all ease 1s;
}

/* line 1, ../scss/components/_player.scss */
#player {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}
/* line 7, ../scss/components/_player.scss */
#player #audioplayer {
  width: 100%;
  height: 40px;
  border: solid 1px white;
  background: rgba(255, 255, 255, 0.2);
}
/* line 14, ../scss/components/_player.scss */
#player #pButton {
  height: 20px;
  width: 20px;
  margin: 10px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
}
/* line 25, ../scss/components/_player.scss */
#player .play {
  background: url(/img/playerbtn/play-btn.png);
}
/* line 28, ../scss/components/_player.scss */
#player .pause {
  background: url(/img/playerbtn/pause-btn.png);
}
/* line 31, ../scss/components/_player.scss */
#player #timeline {
  width: 80%;
  height: 2px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 40, ../scss/components/_player.scss */
#player #playhead {
  width: 15px;
  height: 3px;
  background: white;
  cursor: pointer;
}
/* line 46, ../scss/components/_player.scss */
#player #trackduration {
  position: absolute;
  color: white;
  font-family: OpenBold;
  font-size: 11px;
  right: 5px;
  bottom: 3px;
  width: 30px;
}

/* line 1, ../scss/components/_titles.scss */
#titles {
  font-family: Opensans-bold;
  color: white;
  font-size: 13px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* line 10, ../scss/components/_titles.scss */
#titles h1, #titles h2, #titles h3, #titles h4, #titles h5, #titles h6 {
  display: block;
  width: 100%;
}
/* line 14, ../scss/components/_titles.scss */
#titles h1 {
  font-size: 1.75em;
}
/* line 17, ../scss/components/_titles.scss */
#titles h2 {
  font-size: 1.6em;
}
/* line 20, ../scss/components/_titles.scss */
#titles h3 {
  font-size: 1.5em;
}
/* line 23, ../scss/components/_titles.scss */
#titles h4 {
  font-size: 1.3em;
}
/* line 26, ../scss/components/_titles.scss */
#titles h5 {
  font-size: 1.2em;
}
/* line 29, ../scss/components/_titles.scss */
#titles h6 {
  font-size: 1em;
}

/* line 1, ../scss/components/_text.scss */
#text {
  width: 100%;
  height: 145px;
  margin-bottom: 25px;
}
/* line 5, ../scss/components/_text.scss */
#text p {
  font-family: Open-Regular;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
/* line 10, ../scss/components/_text.scss */
#text p a {
  color: white;
}

/* line 1, ../scss/components/_bubbles.scss */
#bubbles {
  height: 200px;
  width: 100%;
  margin-bottom: 35px;
}
/* line 5, ../scss/components/_bubbles.scss */
#bubbles p {
  background-color: white;
  color: #00aced;
  border-radius: 10px;
  font-family: Open-semibold;
  font-size: 13px;
  clear: both;
  margin-bottom: 10px;
  position: relative;
}
/* line 15, ../scss/components/_bubbles.scss */
#bubbles p:first-child,
#bubbles p:first-child + p {
  float: left;
}
/* line 19, ../scss/components/_bubbles.scss */
#bubbles p:first-child:before,
#bubbles p:first-child + p:before {
  content: "";
  position: absolute;
  display: block;
  left: -9px;
  bottom: -3px;
  width: 18px;
  height: 18px;
  background: url(/img/message-tail-left.png) no-repeat;
  background-position: center;
}
/* line 31, ../scss/components/_bubbles.scss */
#bubbles p:nth-child(3):before,
#bubbles p:last-child:before {
  content: "";
  position: absolute;
  display: block;
  right: -6px;
  bottom: -4px;
  width: 18px;
  height: 18px;
  background: url(/img/message-tail-right.png) no-repeat;
  background-position: center;
}
/* line 43, ../scss/components/_bubbles.scss */
#bubbles p:nth-child(3),
#bubbles p:last-child {
  float: right;
}
/* line 47, ../scss/components/_bubbles.scss */
#bubbles p:first-child {
  height: 30px;
  width: 45px;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
}
/* line 54, ../scss/components/_bubbles.scss */
#bubbles p:nth-child(2) {
  height: 45px;
  width: 135px;
  padding-top: 5px;
  line-height: 20px;
  text-align: left;
  padding-left: 10px;
}
/* line 62, ../scss/components/_bubbles.scss */
#bubbles p:nth-child(3) {
  height: 30px;
  width: 150px;
  line-height: 30px;
  text-align: center;
}
/* line 68, ../scss/components/_bubbles.scss */
#bubbles p:last-child {
  height: 45px;
  width: 135px;
  line-height: 20px;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
}

/* line 38, ../scss/templates/_index.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #00aced;
}
/* line 42, ../scss/templates/_index.scss */
body main {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  margin-top: 120px;
}
/* line 47, ../scss/templates/_index.scss */
body main #logo {
  width: 190px;
  height: 35px;
  margin-bottom: 35px;
  background: url(/img/Mobile_UI_Blueprint_1.3.png) left no-repeat;
}
/* line 53, ../scss/templates/_index.scss */
body main #columns {
  display: flex;
  justify-content: space-between;
}
/* line 56, ../scss/templates/_index.scss */
body main #columns .colpair {
  height: 980px;
  width: 49%;
  display: flex;
  justify-content: space-between;
}
/* line 62, ../scss/templates/_index.scss */
body main #columns .colpair .col {
  width: 232px;
  height: auto;
}
/* line 65, ../scss/templates/_index.scss */
body main #columns .colpair .col #buttons {
  width: 100%;
  height: 200px;
}

/* line 74, ../scss/templates/_index.scss */
* {
  transition: all ease 1s;
}

@media screen and (max-width: 1023px) {
  /* line 77, ../scss/templates/_index.scss */
  body {
    width: 100%;
    height: 100%;
    background-color: #00aced;
  }
  /* line 81, ../scss/templates/_index.scss */
  body main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 120px;
  }
  /* line 86, ../scss/templates/_index.scss */
  body main #logo {
    width: 190px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 35px;
    background: url(/img/Mobile_UI_Blueprint_1.3.png) left no-repeat;
  }
  /* line 93, ../scss/templates/_index.scss */
  body main #columns {
    width: 100%;
    display: block;
  }
  /* line 96, ../scss/templates/_index.scss */
  body main #columns .colpair {
    float: none;
    height: 980px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  /* line 102, ../scss/templates/_index.scss */
  body main #columns .colpair + .colpair {
    margin-top: 35px;
  }
  /* line 105, ../scss/templates/_index.scss */
  body main #columns .colpair .col {
    width: 232px;
    min-width: 232px;
    height: auto;
  }
  /* line 109, ../scss/templates/_index.scss */
  body main #columns .colpair .col #buttons {
    width: 100%;
    height: 200px;
  }

  /* line 119, ../scss/templates/_index.scss */
  * {
    transition: all ease 1s;
  }
}
@media screen and (max-width: 650px) {
  /* line 127, ../scss/templates/_index.scss */
  body {
    width: 100%;
    height: 100%;
    background-color: #00aced;
  }
  /* line 131, ../scss/templates/_index.scss */
  body main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 120px;
  }
  /* line 136, ../scss/templates/_index.scss */
  body main #logo {
    width: 190px;
    height: 35px;
    background: url(/img/Mobile_UI_Blueprint_1.3.png) left no-repeat;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  /* line 144, ../scss/templates/_index.scss */
  body main #columns {
    width: 100%;
    height: auto;
    display: block;
  }
  /* line 148, ../scss/templates/_index.scss */
  body main #columns .colpair {
    margin: 0 auto;
    float: none;
    height: auto;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 156, ../scss/templates/_index.scss */
  body main #columns .colpair .col {
    width: 232px;
    min-width: 232px;
    height: auto;
  }
  /* line 160, ../scss/templates/_index.scss */
  body main #columns .colpair .col #buttons {
    width: 100%;
    height: 200px;
  }

  /* line 170, ../scss/templates/_index.scss */
  * {
    transition: all ease 1s;
  }
}
