<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mobile_UI_Blueprint</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/flatpickr.css">
    <script src="/js/flatpickr.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">

</head>

<body onload="startTime()">
    <main>
        <section id="logo"></section>
        <section id="columns">
            <div class="colpair">
                <section class="col">
                    <section id="buttons">
                        <button type="button" id="btn-L">button</button>
                        <button type="button" id="btn-M">button</button>
                        <button type="button" id="btn-M">button</button>
                        <select>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="0">2</option>
                        </select>

                        <input type='checkbox' class='ios8-switch' id='checkbox-1'>
                        <label for='checkbox-1'></label>

                        <input type='checkbox' class='ios8-switch' id='checkbox-2' checked>
                        <label for='checkbox-2'></label>
                        <select class="clickedselect">
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="0">2</option>
                        </select>
                        <div id="numbers">
                            <div class="number">
                                <p>1</p>
                            </div>
                            <div class="number">
                                <p>24</p>
                            </div>
                            <div class="number">
                                <p>120</p>
                            </div>
                        </div>

                        <div id="townslist">
                            <ul>
                                <li>Milan</li>
                                <li>Paris</li>
                                <li>London</li>
                                <li>Barcelona</li>
                            </ul>
                        </div>
                        <div id="inputradios">

                            <input type="checkbox" id="checkbox-3">
                            <label for="checkbox-3"></label>
                            <input type="checkbox" id="checkbox-4" checked>
                            <label for="checkbox-4"></label>
                            <input type="radio" id="radio-1">
                            <label for="radio-1"></label>
                            <input type="radio" checked>
                            <label for="radio-2"></label>

                        </div>
                    </section>
                    <section id="icons">
                        <div id="randomicons">
                            <div id="minus"><img src="/img/icons/minus.png" alt=""></div>
                            <div id="plus"><img src="/img/icons/plus.png" alt=""></div>
                            <div id="multiply"><img src="/img/icons/multi.png" alt=""></div>
                            <div id="next"><img src="/img/icons/next.png" alt=""></div>
                            <div id="info"><img src="/img/icons/info.png" alt=""></div>
                            <div id="checkmark"><img src="/img/icons/check.png" alt=""></div>
                            <div id="elip"><img src="/img/icons/elip.png" alt=""></div>
                            <div id="noidea"><img src="/img/icons/thing.png" alt=""></div>
                        </div>
                        <div id="ratingsystem">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="heart"></div>
                            <div class="heart"></div>
                            <div class="heart"></div>
                            <div class="heart"></div>
                            <div class="heart"></div>
                        </div>
                    </section>
                    <section id="messages">
                        <div id="hello">
                            <p class="hellothere">Hello there !</p>
                            <p class="hellothere">Hello there !</p>
                        </div>
                        <div id="error">
                            <p>Ooops. Fatal error!</p>
                            <img src="/img/cross.png" alt="">
                        </div>
                    </section>
                    <section id="login">
                        <input type="email" name="user_email" placeholder="Email">
                        <input type="password" name="psw" placeholder="Password">
                    </section>
                    <section id="avatars">
                        <div class="avatar"></div>
                        <div class="avatar"></div>
                        <div class="avatar"></div>
                        <div class="avatar"></div>
                    </section>
                    <section id="upload">
                        <div id="uploadicon"></div>
                        <p>Drop it!</p>
                    </section>
                </section>



                <section class="col">
                    <section id="levels">
                        <div class="level">
                            <div class="levelfill"></div>
                        </div>
                        <div class="level">
                            <div class="levelfill"></div>
                        </div>
                        <div class="level">
                            <div class="levelfill"></div>
                        </div>
                        <div class="level">
                            <div class="levelfill"></div>
                        </div>
                        <div class="level">
                            <div class="levelfill"></div>
                            <div class="levelfill"></div>
                            <div class="levelfill"></div>
                            <div class="levelfill"></div>
                        </div>
                    </section>
                    <section id="social">
                        <div id="behance"></div>
                        <div id="twitter"></div>
                        <div id="facebook"></div>
                        <div id="tumblr"></div>
                    </section>
                    <section id="calendar">
                        <input type="date" id="flatpickr" data-date-format="d M" >
                        <input autofocus type="date" >
                    </section>
                    <section id="ariane">
                        <a href="">Home</a>
                        <a href="">Portfolio</a>
                        <a href="">Webdesign</a>
                    </section>
                    <section id="stats">
                        <div class="comment">
                            <p>36</p>
                        </div>
                        <div class="like">
                            <p>724</p>
                        </div>
                        <div class="favorite">
                            <p>12</p>
                        </div>
                        <div class="information">
                            <p>122</p>
                        </div>
                    </section>
                    <section id="time">
                        <p>12</p>
                        <p>35</p>
                        <p>20</p>
                    </section>
                    <section id="slider"></section>
                    <section id="audio">
                        <div id="waveform"></div>
                        <div id="timewave"></div>
                        <div id="timewave-o"></div>
                    </section>
                    <section id="graph">
                        <div id="graphdraw"></div>
                    </section>
                </section>
            </div>

            <div class="colpair">
                <section class="col">
                    <section id="input">
                        <input type="text" name="textfield" placeholder="Textfield">
                        <input type="search" placeholder="What is a “lorem ipsum”">
                        <textarea name="comment" form="usrform">In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.</textarea>
                    </section>
                    <section id="search"></section>
                    <section id="textsec"></section>
                    <section id="towns">
                        <div class="town">
                            <p>Milan</p>
                        </div>
                        <div class="town">
                            <p>Paris</p>
                        </div>
                        <div class="town">
                            <p>London</p>
                            <div class="deletetown">
                                <p>Delete</p>
                            </div>
                        </div>
                        <div class="town">
                            <p>Barcelona</p>
                            <div class="towncheck"></div>
                        </div>
                        <div class="town">
                            <p>New York</p>
                            <div class="nextsteptown"></div>
                        </div>
                        <div class="town">
                            <p>Los Angeles</p>
                            <div class="townnope"></div>
                        </div>
                        <div class="town">
                            <p>Shangai</p>
                            <div class="towninfo"></div>
                        </div>
                        <div class="town">
                            <p>Tokyo</p>
                            <div class="wattown"></div>
                        </div>
                    </section>
                    <section id="playerbtns"></section>
                    <section id="weather"></section>
                    <section id="tags">
                        <p>Some</p>
                        <p>tags</p>
                        <p>with</p>
                        <p>different</p>
                        <p>sizes</p>
                        <p>ok?</p>
                        <p>have</p>
                        <p>fun</p>
                    </section>
                    <section id="circlestats"></section>
                </section>
                <section class="col">
                    <section id="rangelevels">
                        <input type="range">
                        
                        <input type="range" min="0" max="5" style="width:100%;" class="rangeSlider">
                    </section>
                    <section id="tabs">
                        <div id="tabmenu">
                            <div class="tab"><p>tab 1</p></div>
                            <div class="tab clicked-tab"><p>tab 2</p></div>
                            <div class="tab"><p>tab 3</p></div> 
                        </div>
                    </section>
                    <section id="player"></section>
                    <section id="titles">
                        <h1>The quick brown fox</h1>
                        <h2>The quick brown fox</h2>
                        <h3>The quick brown fox</h3>
                        <h4>The quick brown fox</h4>
                        <h5>The quick brown fox</h5>
                        <h6>The quick brown fox</h6>
                    </section>
                    <section id="text">
                        <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus <a href="">www.chrometaphore.com</a>, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                        </p>
                    </section>
                    <section id="bubbles">
                        <p>Hello</p>
                        <p>Did you have a look at my wireframes?</p>
                        <p>Hey! How is it going?</p>
                        <p>Yes I did! Nice stuff, keep it up!</p>
                    </section>
                    <section id="diagram"></section>
                </section>
            </div>
        </section>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>