#icons{
    clear: both;
    height:50px;
    width:$full;
    margin-top: 20px;
    margin-bottom: 20px;
    #randomicons{
        height:$full;
        width:110px;
        float:left;
        div{
            height:21px;
            width:21px;
            float: left;
            margin-right:8px;
            margin-bottom: 7px;
            &:nth-child(4),&:nth-child(8){
                margin-right:0;
            }
        }
    }
    #ratingsystem{
        width:110px;
        height:50px;
        float: right;
        .heart,.star{
            height:20px;
            width:20px;
            float: left;
            margin-right: 2px;
            &:nth-child(5),&:nth-child(10){
                margin-right:0;
            }
        }
        .heart{         
            background:url(/img/icons/heart-full.svg) no-repeat center;
            background-size: contain;
            &:nth-child(9),&:last-child{
                background:url(/img/icons/heart-empty.svg) no-repeat center;
                @include _transition();
                 background-size: contain;
            }  
             &:nth-child(9):hover,&:last-child:hover{
                background:url(/img/icons/heart-full.svg) no-repeat center;
                @include _transition();
                  background-size: contain;
                 
            }
        
        }
        
        .star{
            background:url(/img/icons/star-full.svg) no-repeat center;
            margin-bottom: 8px;
             &:nth-child(4),&:nth-child(5){
                background:url(/img/icons/star-empty.svg) no-repeat center;
                @include _transition();
            }  
             &:nth-child(4):hover,,&:nth-child(5):hover{
                background:url(/img/icons/star-full.svg) no-repeat center;
                @include _transition();
            }
        }
        
    }
}