#inputradios{
    width:25px;
    height:150px;
    float: right;
    margin-top: 15px;
    label{
        display: block;
        height:43px;
    }
    [type="checkbox"],[type="radio"]{
        display:none;
    }
   [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked,[type="radio"]:not(:checked),
    [type="radio"]:checked {
      display: none;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label,[type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
        position: relative; 
        padding-left: 25px; 
        cursor: pointer; 
    }
        [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before{
      content: '';
      position: absolute;
      left:0; top: 0px;
      width: 24px; height: 24px; 
      @include _border();
      box-sizing: border-box;
      border-radius: 3px; 
    }
    [type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before{
        content: '';
      position: absolute;
      left:0; top: 0px;
      width: 24px; height: 24px; 
      @include _border();
      box-sizing: border-box;
      border-radius: 12px; 
        
    }
    
    [type="checkbox"]:checked + label:before,[type="radio"]:checked + label:before{
        background-color:$lightblue;
    }
    
     [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      height:24px;
      width:24px;
      content: '';
      background: url(/img/checkmark.svg) no-repeat;
      position: absolute;
      top: 5px; left: 5px;
      transition: all .2s; 
    }
    [type="radio"]:not(:checked) + label:after,
    [type="radio"]:checked + label:after{
      height:10px;
      width:10px;
      content: '';
      background-color:white;
      position: absolute;
      border-radius: 5px;
      top: 7px; left: 7px;
      transition: all .2s; 
    }
        [type="checkbox"]:not(:checked) + label:after,[type="radio"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0); 
    }
        [type="checkbox"]:checked + label:after ,[type="radio"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
        [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before,[type="radio"]:disabled:not(:checked) + label:before,
    [type="radio"]:disabled:checked + label:before {
      box-shadow: none;
    }
        [type="checkbox"]:disabled:checked + label:after,[type="radio"]:disabled:checked + label:after {
      color: #999;
    }
        [type="checkbox"]:disabled + label,[type="radio"]:disabled + label {
      color: red;
    }
        [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before ,[type="radio"]:checked:focus + label:before,
    [type="radio"]:not(:checked):focus + label:before {
      border: 1px dotted #0776a0;
    }
    
    
}