#levels{
    height:85px;
    width:$full;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 18px;
    .level{
        height:2px;
        width:$full;
        background-color:rgba(255,255,255,0.25);
        .levelfill{
            width:$full;
            height:2px;
            background-color:white;
        
        }
        &:first-child>.levelfill{
            width:25%;
        }
        &:nth-child(2)>.levelfill{
            width:$mid;
        }
        &:nth-child(3)>.levelfill{
            width:75%;
        }
         &:nth-child(4)>.levelfill{
            width:90%;
        }
        &:last-child{
            background-color:rgba(255,255,255,0);
            display: flex;
            justify-content: space-between;
            & .levelfill{
                width:24%;
                background-color:$quart-white;
                &:first-child{
                   background-color:rgba(255,255,255,1); 
                }
            }
        }
    }
}