#playerbtns {
    height: 40px;
    width: $full;
    margin-bottom: 15px;
    #audiobtns {
        width:$full;
        height:40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .btn {
            height: 40px;
            width: 40px;
            box-sizing: border-box;
            @include _border();
            border-radius: 20px;
            cursor: pointer;
            
        }
        #playbtn{
            background:url(/img/playerbtn/play-btn.svg) no-repeat center;
            
        }
        #pausebtn{
            background:url(/img/playerbtn/pause-btn.svg) no-repeat center;
        }
        #removebtn{
            background:url(/img/playerbtn/remove-btn.svg) no-repeat center;
        }
        #infobtn{
            background:url(/img/playerbtn/info-btn.svg) no-repeat center;
        }
        #loopbtn{
            background:url(/img/playerbtn/loop-btn.svg) no-repeat center;
        }
        #playbtn:hover,#pausebtn:hover,#removebtn:hover,#infobtn:hover,#loopbtn:hover{
                background-color:$quart-white;
            }
        
        
    }
}