#social {
    height: 40px;
    width: $full;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    & div {
        width: 46px;
        height: $full;
        box-sizing: border-box;
        @include _border();
        border-radius: 5px;
        cursor:pointer;
        &:first-child {
            background: url(/img/social/behance.svg) no-repeat;
            background-position: center;
            @include _transition();
            &:hover {
                background: url(/img/social/behance-hover.svg) no-repeat;
                background-position: center;
                background-color: white;
                @include _transition();
            }
        }
        &:nth-child(2) {
            background: url(/img/social/twitter.svg) no-repeat;
            background-position: center;
            background-color: white;
            &:hover {
                background: url(/img/social/twitter-hover.svg) no-repeat;
                background-position: center;
                background-color: #00aced;
                @include _transition();
            }
        }
        &:nth-child(3) {
            background: url(/img/social/facebook.svg) no-repeat;
            background-position: center;
            &:hover {
                background: url(/img/social/facebook-hover.svg) no-repeat;
                background-position: center;
                background-color:white;
                @include _transition();
            }
        }
        &:last-child {
            background: url(/img/social/tumblr.svg) no-repeat;
            background-position: center;
            &:hover {
                background: url(/img/social/tumblr-hover.svg) no-repeat;
                background-position: center;
                background-color:white;
                @include _transition();
            }
        }
    }
}