#stats {
    height: 35px;
    width: 90px;
    float: left;
    div {
        width: 30%;
        padding-left:20%;
        height: $mid;
        float: left;
        font-family: "Openbold";
        color: white;
        font-size: 11.5px;
        p {
            text-align: center;
            position: relative;
            line-height: 17.5px;
        }
        p:before {
            content: "";
            position: absolute;
            display: block;
            left: -15px;
            top: 0;
            width: 15px;
            height: 17.5px;
        }
        &:first-child>p:before {
            background: url(/img/com/comment.svg) no-repeat;
            background-position: center;
        }
        &:nth-child(2)>p:before {
            background: url(/img/com/heart.svg) no-repeat;
            background-position: center;
        }
        &:nth-child(3)>p:before {
            background: url(/img/com/star.svg) no-repeat;
            background-position: center;
        }
        &:last-child>p:before {
            background: url(/img/com/infor.svg) no-repeat;
            background-position: center;
        }
    }
}