#audio{
    height:100px;
    #waveform{
       height:65px;
        overflow: hidden;
    }
    #timewave{
        margin-top: 15px;
        cursor: pointer;
        text-align: center;
        font-family: Open-semibold;
        color:white;
        font-size: 11.5px;
    }
}