#avatars{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 35px;
    .avatar{
        height:74px;
        width:74px;
        background:url(/img/avatar.png) center no-repeat;
        background-size: contain;
        &:nth-child(2){
            height:56px;
            width:56px;
        }
        &:nth-child(3){
            height:37px;
            width:37px;
        }
        &:last-child{
            height:30px;
            width:30px;
        }
    }
}