#calendar {
    height: 295px;
    margin-bottom: 20px;
    input {
        height: 35px;
        box-sizing: border-box;
        width: 105px;
        background-color: transparent;
        border-radius: 5px;
        @include _border();
        color: white;
        font-family: OpenSans-Bold;
        padding-left: 10px;
        position: relative;
        display: block;
        float: left;
    }
    input+input{
        float: right;
    }
    input+input,input:first-child:focus{
       
        background-color:white;
        color:$bluebg;
   
        &:after {
        height: 40px;
        width: 20px;
        content: '';
        background-color: white;
        position: absolute;
        border-radius: 5px;
        top: 0px;
        right: 12px;
        transition: all .2s;
        background:url(/img/arrow-blue.png) no-repeat;
        background-position: 10px 13px;
         }
    }
}