#graph {
    height:90px;
    width:$full;
    position: relative;
    overflow: hidden;
    #chartparent{
        position: absolute;
        height:90px;
        overflow: hidden;
        left:-35px;
    #chartContainer{
       height:100px;
        width:282px;
    }
    font-family: "Openbold";
    .canvasjs-chart-credit{
        display: none;
    }
        
    }
}