#input {
    margin-bottom: 20px;
    height:250px;
    input,
    textarea {
        text-decoration: none;
        border: none;
        padding: none;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-family: Open-Regular;
        font-size: 13px;
    }
    input {
        height: 40px;
        padding-left: 5%;
        color: white;
        &::placeholder {
            color: white;
        }
        &:first-child::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
        &+input {
            position: relative;
        }
    }
    textarea {
        height: 140px;
        padding: 0 5%;
        padding-top: 15px;
        padding-bottom: 15px;
        resize: none;
        color: white;
    }
}

