#player {
    width: $full;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    
    #audioplayer {
        width: $full;
        height: 40px;
        @include _border();;
        background: rgba(255, 255, 255, 0.2);
       
    }
    #pButton {
        height: 20px;
        width: 20px;
        margin:10px;
        border: none;
        background-size: $mid $mid;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        outline: none;
    }
    .play {
        background: url(/img/playerbtn/play-btn.png);
    }
    .pause {
        background: url(/img/playerbtn/pause-btn.png);
    }
    #timeline {
        width: 80%;
        height: 2px;
        margin-top: 20px;
        float: left;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.5);
        cursor:pointer;
    }
    #playhead {
        width: 15px;
        height: 3px;
        background: white;
        cursor:pointer;
    }
    #trackduration{
        position: absolute;
        color:white;
        font-family: "Openbold";
        font-size: 11px;
        right:5px;
        bottom:3px;
        width:30px;
    }
}