#slider {
    clear: both;
    height: 190px;
    width: $full;
    #slides {
        height: 175px;
        width: $full;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        .slide {
            height: 160px;
            width: $full;
            box-sizing: border-box;
            @include _border();
            position: absolute;
            background-color: #00aced;
            left:$mid;
//            
//            @keyframes firstslide {
//                0% {
//                    bottom: 0px;
//                    opacity: 1;
//                }
//                100% {
//                    bottom: -100px;
//                    opacity: 0;
//                }
//            }
            &:first-child {
                bottom: 0;
                z-index: 300;
                opacity: 1;
                margin-left:-50%;
            }
//            .first-slideanim{
//                animation-name: firstslide;
//                animation-duration: 2s;
//            }
            
            &:nth-child(2) {
                bottom: 3px;
                width: 95%;
                margin-left: -47.5%;
                z-index: 250;
                opacity: 0.8;
            }
            &:nth-child(3) {
                bottom: 6px;
                width: 90%;
                margin-left: -45%;
                z-index: 200;
                opacity: 0.6;
            }
            &:nth-child(4) {
                bottom: 9px;
                width: 85%;
                margin-left: -42.5%;
                z-index: 150;
                opacity: 0.4;
            }
            &:last-child {
                bottom: 12px;
                width: 80%;
                margin-left: -40%;
                opacity: 0.2;
                z-index: 100;
            }
        }
    }
    #buttons-slider {
        width: 50px;
        height: 4px;
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .button {
                box-sizing: border-box;
                height: 4px;
                width: 4px;
                @include _border();
                border-radius: 2px;
                cursor: pointer;
                @include _transition();
                &:hover {
                    background-color: white;
                    @include _transition();
                }
            }
        }
    }
}