#tags {
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    p {
        float: left;
        display: block;
        font-family: Open-semibold;
        color: white;
        font-size: 13px;
        padding: 5px;
        margin: 7px;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        padding-right: 20px;
        position: relative;
        transition: all ease 1s;
        &:hover,
        &:last-child {
            background-color: rgba(255, 255, 255, 0.2);
        }
        &:after {
            content: "";
            position: absolute;
            display: block;
            right:0;
            top: 50%;
            width: 18px;
            height: 18px;
            margin-top:-9px;
            background: url(/img/tag-cross.png) no-repeat;
            background-position: center;
        }
    }
}