#text{
    width:100%;
    height:145px;
    p{
        font-family: Open-Regular;
        color:white;
        font-size: 12px;
        line-height: 20px;
        a{
            color:white;
        }
    }
}