#townslist{
    width:185px;
    float: left;
    height:150px;
    margin-top:15px;
    margin-bottom: 20px;
    ul{
        height:100%;
        width:100%;
        @include border-radius(5px, 5px);
        @include _border();
        background-color:#26b8f0;
        li{
            height:25%;
            line-height: 37.5px;
            padding-left:15px;
            color: $white;
            font-family: "OpenBold";
            font-size: $basic-font-size;
            transition: $transition;
            border-bottom: 1px solid white;
            box-sizing: border-box;
            &:last-child{
                border-bottom:none;
            }
            &:hover,&:nth-child(2){
                background-color:#5ccaf4;
            }
        }
    }
}