/** COLORS **/

$bluebg : #00aced;
$lightblue:#40c1f2;
$white : #fff;
$lightgrey:#d9d9d9;

/** SIZE **/
$full : 100%;
$mid : 50%;
$quart : 25%;



/** FONTS **/

@include font-face("OpenBold", font-files("../fonts/OpenSans-Bold.ttf"), "../fonts/OpenSans-Bold.eot",bold,normal);
@include font-face("Open-Regular", font-files("../fonts/OpenSans-Regular.ttf"), "../fonts/OpenSans-Regular.eot",bold,normal);
@include font-face("Open-Semibold", font-files("../fonts/OpenSans-Semibold.ttf"), "../fonts/OpenSans-Semibold.eot",bold,normal);
 

$basic-font-size : 12px;


/** TRANSITION **/

$transition: all ease 1s;
